.container.mx-auto.mt-8.prose
  %h1= t(".title")

  %p Butterflown exists because, well, I don't like Facebook, but I do like you.

  %p I want to create a space where we could share memories and reflections from our time at The DeSisto School, without feeding the Zuckerbeast. 

  %p To start, I have included content that I was able to digitize, mostly from my time there. I have several theater / dance production recordings, yearbooks, photos, etc...

  %p The plan is, to slowly invite people one by one to see the content, and maybe create some kind of discussion forum type of thing...I don't really know. I am going to build this thing out over time. 
  
  %p I want to reconnect. I want to fill in some of the gaps in my memories. I want to honor how very important DeSisto was in my life, both good as well as very traumatic. 